.container {
    padding: 0 380px;
    display: flex;
    justify-content: start;
    gap: 60px;
    align-items: start;
}

.aside {
    width: 320px;
    margin-top: 120px;
}

.profile__item {
    list-style-type: none;
    padding-bottom: 40px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 100px;
}

.aside_text {
    margin-top: 50px;
    margin-left: 35px;
    width: 320px;
}

.activeLink {
  color: white;
}

.profile__form_button {
    display: flex;
    justify-content: space-around;
}