.container {
  margin-top: 180px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.container__inner {
  max-width: 480px;
  max-height: 290px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link {
  color: #4c4cff;
}

.link:hover {
  text-shadow: #3333ff 1px 0 20px;
}

.not_found_container {
  width: 500px;
  margin: 200px auto;
  text-align: center;
}

.not_found_container_title {
  margin-bottom: 50px;
}

.orderFeed_container {
  padding: 100px;
  text-align: center;
}
