.section {
    max-width: 600px;
    padding: 20px 16px;
}

.tab {
    display: flex;

}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.item {
}
